[submodule "static-healthcheck/static-healthcheck"]
	path = static-healthcheck/static-healthcheck
	url = https://github.com/wtfcoderz/static-healthcheck
[submodule "TIME-SEA-chatgpt/TIME-SEA-chatgpt"]
	path = TIME-SEA-chatgpt/TIME-SEA-chatgpt
	url = https://github.com/dulaiduwang003/TIME-SEA-chatgpt.git
[submodule "ragflow/ragflow"]
	path = ragflow/ragflow
	url = https://github.com/infiniflow/ragflow.git
[submodule "omniparse/omniparse"]
	path = omniparse/omniparse
	url = https://github.com/adithya-s-k/omniparse.git
[submodule "minixxie-llamacoder/llamacoder"]
	path = minixxie-llamacoder/llamacoder
	url = https://github.com/minixxie/llamacoder.git
[submodule "bolt.diy/bolt.diy"]
	path = bolt.diy/bolt.diy
	url = https://github.com/stackblitz-labs/bolt.diy.git
